#  Assignment 2 - Python

### 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [59]:
length = int(input("Enter length:  "))
breadth = int(input("Enter breadth:  "))
if length == breadth: print("Square")
else: print("Not a square")

Enter length:  3
Enter breadth:  4
Not a square

### 2. Take three integer values from the user and print the greatest among them.

In [60]:
nums = input("Enter 3 numbers seperated by comma: ")
if nums[-1] == "," : nums = nums[:-1]
nums = [int(num) for num in nums.split(",")]

if len(nums) == 3:
    if nums[0]> nums[1]:
        if nums[0] > nums[2]: largest = nums[0]
        else: largest = nums[2]
    else:
        if nums[1] > nums[2]: largest = nums[1]
        else: largest = nums[2]
    
else: print("Enter only 3 numbers")
print("largest number is: ",largest)

Enter 3 numbers seperated by comma: 3,4,5
largest number is:  5

### 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [61]:
total = int(input("Enter total number of classes: "))
attend = int(input("Enter number of classes attended: "))
if total > attend: 
    if (attend/total)*100 >= 75: print("Can sit in exam")
    else: print("invalid for exam")
else: print('Enter values carefully')

Enter total number of classes: 34
Enter number of classes attended: 22
invalid for exam

### 4. A school has the following rules for the grading system:
#### Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
#### Now, Ask the user to enter marks and print the corresponding grade.

In [62]:
mark = float(input('Enter your mark: '))
if mark<25: print('F')
elif mark>=25 and mark<=44: print('E')
elif mark>44 and mark<=49: print('D')
elif mark>49 and mark<=59: print('C')
elif mark>59 and mark<=79: print('B')
elif mark>79 and mark<=89: print('A')
else: print('A+')

Enter your mark: 34
E

### 5. Print the following pattern using for and while loop.
#### 1 2 3 4 5 6 7
#### 1 2 3 4 5 6
#### 1 2 3 4 5
#### 1 2 3 4

In [73]:
#using for
for i in range(7,3,-1):
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [74]:
#using while
i = 7
while(i > 3):
    j = 1
    while(j <= i):
        print(j, end = " ")
        j += 1
    print()
    i -=1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

### 6. Display numbers from -100 to -10 using for loop.

In [75]:
for i in range(-100,-9):
    print(i, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

### 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [11]:
sum = 0
def isPrime(num):    
    for i in range(2, int(num*0.5) + 1):
        if num % i == 0:
            return False
    return True
    
for i in range(10,1001):
    if isPrime(i): sum = sum+ i
print("Sum of all prime numbers within 10 to 1000 is ",sum)

Sum of all prime numbers within 10 to 1000 is  76110

### 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [66]:
result = 1
n = int(input("Enter a number : "))
for i in range(1,n+1):
    result = result*i
print("Factorial of ",n," is ",result)

Enter a number : 4
Factorial of  4  is  24

### 9. Reverse a given integer number 27956240710.

In [77]:
num = 27956240710
li =[]
while(num>0):
    li.append(str(int(num%10)))
    num = int(num/10)
print('Reversed number: ',int(''.join(li)))

Reversed number:  1704265972

### 10. Print the following pattern using for and while loop.
#### # # #
#### # # # #
#### # # #
#### # #

In [68]:
for i in range(2, 6):
    if i <= 3:
        print("# " * i)
    else:
        print("# " * (6 - i))

# #
# # #
# #
#

In [78]:
i = 1
while(i<=6):
    i = i+1
    if i <= 3:
        print("# " * i)
    else:
        print("# " * (6 - i))

# #
# # #
# #
#

### 11.Display the Fibonacci series of 15 elements using the for and while loop.

In [6]:
elements = 15
series = [0 ,1]
for i in range(1,elements-1):
    series.append(series[i] + series[i-1])
print(series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [7]:
i = 0
series = [0 ,1]
while(i < elements-2):
    i += 1
    series.append(series[i] + series[i-1])
print(series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

### 12. Remove 2 and add 3 to the list and replace True with False.
#### Li = [1,3,5, [2,3], True]
#### Output = [1,3,5, [3,3], False]

In [ ]:
Li = [1, 3, 5, [2, 3], True]
Li[3].remove(2)
Li[3].append(3)
Li[-1] = False
print(Li)

### 13. Find the intersection (common) of two sets.
#### S1 = {1,4,6,8}
#### S2 = {True, 1,2,10}

In [10]:
S1 = {1,4,6,8}
S2 = {True,1,2,10}
print(S1.intersection(S2))

{True}

### 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
### number. User_input = [1,9,3,4,5,200,54]

In [32]:
user_input = [1, 9, 3, 4, 5, 200, 54]
uniqueSet = set(user_input)
maxNum = max(uniqueSet)
print('The list without duplicate: ',uniqueSet)
print('Maximum in this list: ',maxNum)

The list without duplicate:  {1, 3, 4, 5, 200, 9, 54}
Maximum in this list:  200

### 15.Rename the key of a dictionary.
#### Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
#### Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [34]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
value = Dict["country"]
Dict["region"] = value
del Dict["country"]
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

### 16. Creating a data frame using the list.
#### num = [10,100,300] (column name is number)

In [38]:
import pandas as pd
num = [10,100,300]
df = pd.DataFrame(num,columns=['number'])
df

   number
0      10
1     100
2     300

### 17. Change the value of a key in a given dictionary.
#### Write a Python program to change ‘age’ to 28 in the following dictionary.
#### Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [39]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict['age'] = 28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}